@charset "UTF-8";

header,
#main-iframe {
    display: none;
}

main>section {
    display: block;
}

main>section>p {
    text-align: center;
}

img {
    height: 200px;
}

main>section>h1 {
    font-size: 3em;
    margin-top: 50px;
    text-align: justify;
}