@charset "UTF-8";

:root {
    --dark-blue: #022859;
    --blue: #0487D9;
    --cyan: #049DD9;
    --white: #F2F2F2;
    --pink: #D92579;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 100vh;
    background-color: var(--dark-blue);
}

body {
    position: relative;
    overflow-x: hidden;
}

main {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    top: 45%;
    left: 50%;
    width: 300px;
    height: 600px;
    position: absolute;
    text-align: center;
    border-radius: 20px;
    background-color: var(--white);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);
    overflow: hidden;

    transform: translate(-50%, -50%);
    transition: width .3s, heigth .3s;
    transition-timing-function: ease;
    /* Transform e transitions têm que ser os últimos elementos */
}

#image {
    display: block;
    background: var(--dark-blue) url('../images/login.png') no-repeat;
    background-position: center center;
    background-size: cover;
    width: 300px;
    height: 180px;
}

#form {
    display: block;
    width: 240px;
    margin: auto;
    color: var(--dark-blue);
}

main>section>h1 {
    margin: 10px;
    font-size: 1.1em;
}

.field {
    display: block;
    width: 100%;
    height: 43px;
    margin-top: 10px;
    background-color: var(--blue);
    border-radius: 10px;
    border: 2px solid var(--blue);
    overflow: hidden;
}

span {
    color: var(--white);
    width: 40px;
    padding: 5px;

    transform: translate(2px, 3px);
}

div>input {
    height: 40px;
    border: none;
    width: calc(100% - 45px);
    padding: 4px;
    background-color: var(--white);

    transform: translateY(-5px);
}

label {
    display: none;
}

.inputbtn {
    width: 100%;
    height: 43px;
    display: block;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 1em;
}

form>input[type=submit] {
    color: var(--white);
    background-color: var(--blue);
    border: none;
}

.inputbtn:hover {
    background-color: var(--pink);
}

.container {
    background-color: var(--white);
    padding: 10px;
    display: none;
    height: 180px;
}

#password-message {
    color: var(--dark-blue);
    position: relative;
    padding: 20px;
}

#password-message>p {
    padding: 0px 20px;
    font-size: 0.8em;
}

#password-confirm-message>p {
    margin-top: 50px;
    padding: 0px 20px;
    color: var(--dark-blue);
}

.valid {
    color: var(--cyan);
}

.valid:before {
    position: relative;
    left: -10px;
    content: "✔";
}

.invalid {
    color: var(--pink);
}

.invalid:before {
    position: relative;
    left: -10px;
    content: "✖";
}

footer {
    background-color: black;
    color: var(--white);
    border-radius: 10px;
    text-align: center;
    width: 400px;
    height: 80px;
    font-family: 'Times New Roman', Times, serif;
    top: 100%;
    left: 50%;
    position: absolute;

    transform: translate(-50%, -80%);
    transition: width .3s, heigth .3s;
    transition-timing-function: ease;
}

footer>nav {
    padding-top: 10px;
}

footer>p {
    margin-top: 0px;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
}