@charset "UTF-8";

:root {
    --dark-blue: #022859;
    --blue: #0487D9;
    --cyan: #049DD9;
    --white: #F2F2F2;
    --pink: #D92579;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}

html,
body {
    width: 100vw;
    height: 100vh;
    background-color: var(--dark-blue);
}

header {
    height: 55px;
    overflow-y: hidden;
}

a {
    text-decoration: none;
}

#home {
    color: var(--white);
    width: 50px;
    font-size: 2.8em;
    padding: 5px;
    margin-right: 3px;
}

.flag {
    width: 35px;
    margin: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);
    border-radius: 50%;
}

#main-iframe {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}