@charset "UTF-8";

body {
    background-image: linear-gradient(to bottom, var(--blue), var(--dark-blue));
}

#content {
    width: 400px;
    height: 490px;
}

#form {
    width: 340px;
}

main>section>h1 {
    margin: 15px;
    font-size: 1.4em;
}

main>section>p {
    font-size: 1.3em;
    margin-bottom: 10px;
}

.field {
    height: 50px;
}

span {
    transform: translate(2px, 8px);
}

div>input {
    height: 48px;

    transform: translateY(-7px);
}

.inputbtn {
    height: 48px;
    margin-top: 12px;
    font-size: 1.2em;
}

.container {
    font-size: 0.9em;
    width: 340px;
}

#password-message {
    height: 155px;
}

#password-confirm-message {
    margin-bottom: -10px;
}

footer {
    width: 440px;
    height: 80px;
}

footer>nav>a>img {
    height: 35px;
    width: 35px;
}

footer>p {
    font-size: 1.15em;
}