body {
    background: url('../images/login.png') no-repeat;
    background-size: cover;
    background-position: center center;
}

main {
    width: 410px;
    height: 580px;
}

#image {
    display: none;
}

#form {
    width: 330px;
    margin-top: 58px;
    margin-left: 40px;
}

h1 {
    font-size: 2.4em;
}

p {
    font-size: 1.8em;
}

.field {
    height: 70px;
}

span {
    transform: translate(2px, 8px);
}

div>input {
    height: 65px;

    transform: translateY(1px);
}

.inputbtn {
    height: 60px;
    font-size: 1.3em;
}