@charset "UTF-8";

html,
body {
    background-color: rgba(0, 0, 0, 0);
}

#content {
    width: 450px;
    height: 550px;
}

#form {
    width: 400px;
}

main>section>h1 {
    font-size: 1.6em;
}

main>section>p {
    font-size: 1.4em;
    margin-bottom: 10px;
}

.field {
    height: 60px;
    margin-top: 12px;
}

span {
    width: 60px;

    transform: translate(2px, 12px);
}

div>input {
    height: 56px;
    width: calc(100% - 65px);
    padding: 8px;

    transform: translateY(-2px);
}

.inputbtn {
    width: 40%;
    height: 60px;
    margin: 12px;
    font-size: 1.4em;
}

.container {
    font-size: 1em;
    width: 380px;
}

#password-message {
    height: 175px;
}

#password-confirm-message {
    margin-bottom: -10px;
}

footer {
    width: 500px;
    height: 90px;
}

footer>nav>a>img {
    height: 40px;
    width: 40px;
}

footer>p {
    font-size: 1.3em;
}